/*
 * moutis_sensors.dtsi
 *
 * SPDX-License-Identifier: MIT
 *
 */

        e_App: e_App {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <1>;
            bindings = <&kp TAB>, <&kp>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
        e_AppBack: e_AppBack {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <1>;
            bindings = <&kp LS(TAB)>, <&kp>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        e_ALL: e_ALL {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <2>;
            bindings = <&e_AppBack &kp>, <&e_App &kp>;
        };

