/*
 * moutis_sensors.dtsi
 *
 * SPDX-License-Identifier: MIT
 *
 */

        C_VOL_UPSlAppy: C_VOL_UPSlAppy {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_UP>, <&SlAppy>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };
        C_VOL_DNSlApBack: C_VOL_DNSlApBack {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp C_VOL_DN>, <&SlApBack>;
            mods = <(MOD_LGUI|MOD_RGUI)>;
        };

        enc_VolApp: enc_VolApp {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&C_VOL_DNSlApBack>, <&C_VOL_UPSlAppy>;
        };

